*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/api-web
/public/uploads
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
coverage
/doc/dependencies.csv
/doc/dependencies.html
/doc/dependencies_detailed.csv
/app/assets/javascripts/i18n/translations.js
.idea/*
config/initializers/dev.rb
.ruby-gemset
.ruby-version
.rake_tasks~
.byebug_history
docker/postgres/

# Ignore application configuration
/config/application.yml
/public/assets
/public/javascripts
/public/packs
/public/packs-test
/node_modules
server.pid
yarn-debug.log*
yarn-error.log*
.yarn-integrity

.env

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
