version: '3.3'

x-web: &web
  build: .
  image: planner-web:${CARTOWAY_VERSION:-latest}
  networks:
    - private-network
    - public-network
  environment:
    RAILS_ENV: ${RAILS_ENV:-production}
    NODE_ENV: ${NODE_ENV:-production}
    GEOCODER_URL: ${GEOCODER_URL:-http://localhost:8081/0.1}
    GEOCODER_API_KEY: ${GEOCODER_API_KEY:-demo}
    ROUTER_URL: ${ROUTER_URL:-http://localhost:8082/0.1}
    ROUTER_API_KEY: ${ROUTER_API_KEY:-demo}
    OPTIMIZER_URL: ${OPTIMIZER_URL:-http://optimizer-server/0.1}
    OPTIMIZER_API_KEY: ${OPTIMIZER_API_KEY:-demo}
    # SENTRY_DSN: ${SENTRY_DSN}
    HERE_MAP_APIKEY: ${HERE_MAP_APIKEY}
  depends_on:
    - db
    - redis-cache
  volumes:
    - ./config/database.yml.docker:/srv/app/config/database.yml
    - ./docker/uploads:/srv/app/public/uploads
  restart: unless-stopped

services:
  db:
    image: postgres:15
    networks:
      - private-network
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis-cache:
    image: redis:${REDIS_VERSION:-7-alpine}
    networks:
      - private-network
    restart: unless-stopped
    command: redis-server --save ""

  web:
    <<: *web
    ports:
      - "8080:8080" # HOST:CONTAINER, edit only HOST part
    command: bash -c "LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2 bundle exec puma -v -p 8080 --pidfile 'server.pid'"

  delayed-job:
    <<: *web
    command: bash -c "LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2 bundle exec './bin/delayed_job run'"
    deploy:
      replicas: 4

volumes:
  pg_data:

networks:
  private-network:
    external: false

  public-network:
    name: public-network
