// Copyright © Cartoway
.flash-content {
  display: none;
}

.menu-left {
  flex-shrink: 0;
  width: $menu-width;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 1rem;
  align-items: center;
  justify-content: stretch;
  transition: width $transition-duration $transition-timing-curve;
  position: sticky;
  left: 0;

  .menu-section {
    margin-top: 24px !important;
    color: white;
    font-size: 24px;

    &:hover,
    &:focus {
      background-color: $primary-color;
      border-left: 3px solid $focus-menu-border;
    }
  }

  .help.menu-section {
    .btn {
      color: $primary-color;
    }

    > a {
      &:hover,
      &:focus {
        border-left: none !important;
      }
    }

    &:hover,
    &:focus {
      background-color: $primary-color;
      border-left: none;
    }
  }

  #accordion-menu {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-bottom: 220px;
  }

  .menu-content {
    li {
      color: white !important;
    }

    li.disabled > a,
    li.disabled > a[disabled] {
      pointer-events: none;
      cursor: default !important;
      opacity: 0.65;

      &:hover,
      &:focus {
        border-left: none;
        color: white !important;
      }
    }

    li > a {
      color: white !important;
      display: block;
      padding: 3px 15px;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover,
      &:focus {
        color: darken(white, 20%);
        border-left: 4px solid $focus-menu-border;
        text-decoration: none;
        text-overflow: clip;
        white-space: normal !important;
      }
    }
  }

  ul,
  li {
    list-style-type: none;
  }

  #menu-settings {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: $primary-color;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
}

.accordion-menu {
  transition: height $transition-duration $transition-timing-curve;
}

.menu-left .hidden-menu {
  opacity: 0;
  width: 0;
  transition: height $transition-duration $transition-timing-curve;
}

.menu-left.open .hidden-menu {
  width: 100%;
  height: auto;
  opacity: 1;
  margin-left: 1rem;
}

.menu-left .top-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.menu-left .logo {
  display: block;
  transition: $transition-duration $transition-timing-curve;
}

.menu-left .logo > img {
  width: 100%;
  height: 100%;
}

.menu-content {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 1rem 0;
}

.menu-content,
.bottom-menu {
  width: 100%;
}

#wrapper {
  display: flex;
}

.menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.menu-left.open .menu-list-item {
  justify-content: flex-start;
}

.menu-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.menu-list .hidden-menu {
  white-space: nowrap;
}

.menu-link {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  color: var(--light-gray);
  text-decoration: none;
  align-items: center;
  padding-left: 25px;
}

.menu-list-item {
  position: relative;
  width: 100%;
}

.menu-list-item.active::before {
  content: "";
  background-color: var(--accent-color);
  height: 100%;
  left: 0;
  width: 3px;
  position: absolute;
}

.menu-list-doc {
  max-height: 40px;
}

.menu-left.open {
  width: 250px;

  .logo-large {
    width: 80%;
    min-width: 140px;
  }

  .logo-small {
    display: none;
  }
}

.menu-left:not(.open) {
  .logo-large {
    display: none;
  }

  .logo-small {
    width: 40px;
    height: 40px;
  }
}

.main {
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  border: 0;
  position: relative;
  width: 100%;
  overflow-y: scroll;
}

#logo {
  margin: 5px;
}

.divider.solid {
  border-top: 1px solid white;
  border-radius: 1px;
  width: 80%;
  margin: auto;
}
