- ui_order = local_assigns.fetch(:ui_order, 0)
- averages = local_assigns.fetch(:averages, nil)
- value = local_assigns[:rests_duration].presence || (averages && (averages[:routes_rests_duration] || averages['routes_rests_duration']))
- display = value.present? ? value : time_over_day(0)
.col-xs-4{title: t("plannings.edit.rests_duration_help"), style: "order: #{ui_order}"}
  .primary.route-info
    %i.fa.fa-circle-pause.fa-fw{"aria-hidden": "true"}>
    = display
