- javascript 'index'
- if user_signed_in?
  - if @customer || current_user.admin?
    - if current_user.admin? || (!@customer.end_subscription || @customer.end_subscription > Time.now)
      = render partial:'subscription_on'
      = render partial: 'dashboard'
    - else
      = render partial: 'subscription_end'
- else
  = render partial: 'default_home_page'
