- if @manage_planning[:manage_route_view]
  - view_dis = @manage_planning[:disable_route_view]
  %button.btn.btn-xs.btn-default.center_view{ disabled: route[:hidden] || view_dis, title: t('plannings.edit.center_view_help'), type: "button"}
    %i.fa.fa-expand
  %button.toggle.btn.btn-default.btn-xs{title: t('plannings.edit.toggle_help'), type: "button", disabled: view_dis}
    %i.fa{class: "fa-eye#{'-slash' if route[:hidden]}"}
