- if out_pagy.next
  %span#out_list_next_link.pagy.d-none
    = pagy_next_a(out_pagy, anchor_string: 'data-remote="true"', page_param: :out_page)
  %span#loading-indicator.out-content.list-group-item.d-flex.justify-content-center.d-none
    .spinner-border{role: "status"}
