{{#vehicle}}
  <li class="route" data-route_id="{{route_id}}" data-color="{{color}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="input-group">
            <div class="col-xs-5">
              <input id="route_ref" class="form-control" type="text" value="{{ref}}" name="route[ref]" placeholder="{{#i18n}}plannings.edit.route_placeholder{{/i18n}}" />
            </div>
            {{! Change default title from fake select2 generated code }}
            <div class="col-xs-5">
              <select name="route[vehicle]" class="vehicle_select select2-xs" value="{{vehicle_id}}" data-initial-value="{{vehicle_id}}" style="display:none">
                  <option value="{{vehicle_id}}" selected="selected">{{vehicle_id}}</option>
              </select>
              <span class="select2 select2-container select2-container--bootstrap input-sm select2-container--below" dir="ltr" style="display: inline-block;"><span class="selection"><span aria-labelledby="select2-route[vehicle]-uj-container" tabindex="0" class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false"><span title="{{vehicle_id}}" id="select2-route[vehicle]-uj-container" class="select2-selection__rendered"><span><span class="color_small" style="background:{{color}};{{#color_fake}} display: none;{{/color_fake}}"></span>&nbsp;<span>{{name}} - {{router_name}}</span></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
            <div class="col-xs-2">
              <select name="route[color]" class="color_select select2-xs" value="{{color}}" style="display:none">
                {{#colors}}
                  <option value="{{color}}"{{#selected}} selected="selected"{{/selected}}>{{color}}</option>
                {{/colors}}
              </select>
              <span class="select2 select2-container select2-container--bootstrap input-sm select2-container--below" dir="ltr" style="display: inline-block;"><span class="selection" title="{{#i18n}}plannings.edit.route_change_color_help{{/i18n}}"><span aria-labelledby="select2-route[color]-uj-container" tabindex="0" class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false"><span id="select2-route[color]-uj-container" class="select2-selection__rendered"><span class="color_small" style="background:{{color_fake}};vertical-align: top;">{{^color_fake}}<i class="fa fa-paint-brush" style="color: $grey-color;"></i>{{/color_fake}}</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            </div>
          </div>
        </div>
        <div class="col-xs-1">
          <i class="fa fa-arrows-left-right"></i>
        </div>

        <div class="route-skills">
          <ul class="route-skills-list">
            {{#skills}}
              <li class="route-skills-item">
                <span>
                  <i style="color: {{color}}" class="fa {{icon}}"></i>&nbsp;<span>{{label}}</span>
                </span>
              </li>
            {{/skills}}
          </ul>
        </div>
      </div>
      <div>
        {{#devices}}
          {{#sopac_ids}}
          <div class="temperature-info">
            <h6>{{#i18n}}plannings.edit.sopac_title{{/i18n}}</h6>
            {{#items}}
            <hr>
              <div>
                <span id="label-{{vehicle_id}}-{{id}}">
                  <i class="fa fa-wifi fa-fw"></i><span>{{#i18n}}plannings.edit.device_name_label{{/i18n}} {{text}}</span>
                </span>
              </div>
              <div>
                <span id="temperature-{{vehicle_id}}-{{id}}">
                  <i class="fa fa-thermometer-half fa-fw"></i><span>{{#i18n}}plannings.edit.temperature_label{{/i18n}}</span>
                </span>
              </div>
              <div>
                <span id="last-date-{{vehicle_id}}-{{id}}">
                  <i class="fa fa-stopwatch fa-fw"></i><span>{{#i18n}}plannings.edit.last_temperature_statement_label{{/i18n}}</span>
                </span>
              </div>
              {{/items}}
          </div>
          {{/sopac_ids}}
        {{/devices}}
        <div class="route-details">
        {{> stops/list}}
        </div>
      </div>
    </div>
  </li>
{{/vehicle}}
