
{{^vehicle}}
  <li class="route out_route" data-route_id="{{route_id}}">
    <div class="panel panel-default" id="out_of_route">
      <div class="panel-heading out-header">
        <i class="fa fa-arrows-left-right"></i>
        {{#i18n}}plannings.edit.out_of_route{{/i18n}}
        <div class="btn-group pull-right">
          <button type="button" class="automatic_insert_all btn btn-default btn-xs" title="{{#i18n}}plannings.edit.automatic_insert_help_multiple{{/i18n}}"><i class="fa fa-bolt"></i></button>
          <button type="button" class="toggle btn btn-default btn-xs" title="{{#i18n}}plannings.edit.toggle_help{{/i18n}}"><i class="fa fa-eye{{#hidden}}-slash{{/hidden}}"></i></button>
          <button type="button" class="lock btn {{^locked}}btn-default{{/locked}}{{#locked}}btn-warning{{/locked}} btn-xs" title="{{#i18n}}plannings.edit.locked_unplanned_help{{/i18n}}"><i class="fa fa-{{^locked}}un{{/locked}}lock"></i></button>
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.move_stops{{/i18n}}"><i class="fa fa-share-nodes"></i><span class="caret"></span></button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li>
              <a href="#" data-toggle="modal" data-target="#planning-move-stops-modal" data-route-id="{{route_id}}"><i class="fa fa-external-link fa-fw"></i> {{#i18n}}plannings.edit.move_stops{{/i18n}}</a>
            </li>
          </ul>

        </div>
      </div>
      <div class="route-details out-content">
        {{> stops/list}}
      </div>
    </div>
  </li>
{{/vehicle}}
