- ui_order = local_assigns.fetch(:ui_order, 0)
- if route[:vehicle_id] && route[:route_averages]
  .col-xs-4{title: t('plannings.edit.emission_help'), style: "order: #{ui_order}"}
    .primary.route-info
      %i.fa.fa-flask.fa-fw
      = route[:emission]
      = t('all.unit.kgco2e_html')
