default: &default
  adapter: postgis
  pool: 5
  timeout: 5000
  checkout_timeout: 300
  host: <%= ENV['POSTGRES_HOST'] %>
  username: <%= ENV['POSTGRES_USER'] || 'planner' %>
  password: <%= ENV['POSTGRES_PASSWORD'] || 'planner' %>

development:
  <<: *default
  database: <%= ENV['POSTGRES_DB'] || 'planner-dev' %>

test:
  <<: *default
  database: <%= ENV['POSTGRES_DB'] || 'planner-test' %>

production:
  <<: *default
  database: <%= ENV['POSTGRES_DB'] || 'planner' %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 10 } %>
