<div class="route-stops{{#optimized_at_formatted}} optimum{{/optimized_at_formatted}}">
  {{^vehicle}}
    <div class="panel-body">
      <p>
        <span data-size-active={{size}} class="inactive route-info"><i class="fa fa-check-square fa-fw"></i>{{size}}&nbsp;{{#i18n}}plannings.edit.stops{{/i18n}}</span>
        {{#quantities}}
          <span class="inactive route-info" title="{{#i18n}}plannings.edit.out_of_route_quantity_help{{/i18n}}"><i class="fa {{unit_icon}} fa-fw"></i><span data-quantity_id="{{id}}">{{quantity_formatted}}</span></span>
        {{/quantities}}
      </p>
    </div>
    <ul class="stops sortable list-group" {{#hidden}}style="display: none;"{{/hidden}}>
    {{#stops}}
      {{#destination}}{{#visits}}
      <li data-stop_id="{{stop_id}}" data-stop_index="{{stop_index}}" class="waypoint{{#error}} ui-state-error{{/error}} d-fake-flex align-items-center list-group-item">
        <div class="row">
          <div class="col-xs-6 col-md-1">
            <input type="checkbox" checked="checked" style="display: none"/>
            <i class="fa fa-reorder fa-fw" title="{{#i18n}}plannings.edit.drag_help{{/i18n}}" style="display: none;"></i>
          </div>
          <div class="col-xs-6 col-md-5">
            <div class="title">
              {{^geocoded}}
                <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
              {{/geocoded}}
              <span class="name" title="{{name}}{{#index_visit}} #{{index_visit}}{{/index_visit}}">{{name}}</span>{{#index_visit}} #{{index_visit}}{{/index_visit}}<br />
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            {{#time_window_start_end_1}}
              <div class="timewindow-info" title="{{time_windows_condensed}}">
                  <i class="fa fa-sort fa-rotate-90 fa-fw"></i>
                  {{time_windows_condensed}}
              </div>
            {{/time_window_start_end_1}}
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="btn-group pull-right stop-tools">
              {{#geocoded}}
                <button class="automatic_insert btn btn-default btn-xs" title="{{#i18n}}plannings.edit.automatic_insert_help{{/i18n}}">
                  <i class="fa fa-bolt"></i>
                </button>
              {{/geocoded}}
              {{#manage_destination}}
              <a href="/destinations/{{destination_id}}/edit?back=true#collapseVisit{{visit_id}}" class="marker_edit btn btn-default btn-xs" title="{{#i18n}}plannings.edit.edit_visit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
              {{/manage_destination}}
              {{#geocoded}}<a href="#" class="marker btn btn-default btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>{{/geocoded}}
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.send_to_route_help{{/i18n}}"><i class="fa fa-truck-field fa-fw"></i><span class="caret"></span></button>
                <ul class="dropdown-menu pull-right" role="menu">
                  {{#routes}}
                    {{#vehicle_usage_id}}
                      <li><a href="/plannings/{{planning_id}}/{{route_id}}/{{stop_id}}/move.json" class="send_to_route"><div class="color_small" style="background:{{color}}"></div> {{name}}</a></li>
                    {{/vehicle_usage_id}}
                  {{/routes}}
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </li>
      {{/visits}}{{/destination}}
    {{/stops}}
    {{^with_stops}}{{#size}}
      <div class="d-flex justify-content-center load-stops">
        <button class="btn btn-default" title="{{#i18n}}plannings.edit.without_stops_title{{/i18n}}"><i class="fa fa-rectangle-list fa-fw"></i> {{#i18n}}plannings.edit.load_stops{{/i18n}}</button>
      </div>
    {{/size}}{{/with_stops}}
    </ul>
  {{/vehicle}}
  {{#vehicle}}
    <div class="panel-body">
      <div class="last-sent-at">
        {{#last_sent_at_formatted}}
          {{> routes/last_sent_at}}
        {{/last_sent_at_formatted}}
      </div>
      <div class="optimized-at">
        {{#optimized_at_formatted}}
          <label><i class="fa fa-gear fa-fw"></i> {{#i18n}}plannings.edit.optimized_at{{/i18n}}</label>&nbsp;:&nbsp;<span>{{optimized_at_formatted}}</span>
        {{/optimized_at_formatted}}
      </div>
      <div class="route-tools">
        <div class="btn-group route-btn-group">
          {{#manage_vehicle}}
          <a href="{{path}}" class="btn btn-primary btn-xs" title="{{#i18n}}plannings.edit.vehicle_help{{/i18n}}"><i class="fa fa-truck-field"></i></a>
          {{/manage_vehicle}}
          <button type="button" data-toggle="modal" data-target="#optimization-modal" data-keyboard="true" class="btn btn-primary btn-xs optimize" title="{{#i18n}}plannings.edit.optimize_help{{/i18n}}"{{#locked}}disabled="disabled"{{/locked}}><i class="fa fa-gear"></i></button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.route_stops_active_help{{/i18n}}"{{^with_stops}} disabled{{/with_stops}}>
            <span data-size-active={{size_active}} data-size={{size}}>
              <i class="fa fa-check-square fa-fw"></i>{{size_active}}/{{size}} {{#i18n}}plannings.edit.stops{{/i18n}}<span class="caret"></span>
            </span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="active_none" href="/plannings/{{planning_id}}/{{route_id}}/active/none"><i class="fa fa-regular fa-square fa-fw"></i> {{#i18n}}plannings.edit.active_none{{/i18n}}</a></li>
            <li><a class="active_reverse" href="/plannings/{{planning_id}}/{{route_id}}/active/reverse"><i class="fa fa-random fa-fw"></i> {{#i18n}}plannings.edit.active_reverse{{/i18n}}</a></li>
            <li><a class="active_all" href="/plannings/{{planning_id}}/{{route_id}}/active/all"><i class="fa fa-check-square fa-fw"></i> {{#i18n}}plannings.edit.active_all{{/i18n}}</a></li>
            {{#status_any}}
              <li role="separator" class="divider"></li>
              {{#status_all}}
                <li><a class="active_status" href="/plannings/{{planning_id}}/{{route_id}}/active/{{code}}"><span class="stop-status stop-status-{{code}}" title="{{status}}"></span> {{status}}</a></li>
              {{/status_all}}
              <li><a class="active_status" href="/plannings/{{planning_id}}/{{route_id}}/active/status_any"><span class="stop-status"></span> {{#i18n}}plannings.edit.stop_status.any{{/i18n}}</a></li>
              <li><a class="active_status" href="/plannings/{{planning_id}}/{{route_id}}/active/status_none"><span class="stop-status stop-status-none"></span> {{#i18n}}plannings.edit.stop_status.none{{/i18n}}</a></li>
            {{/status_any}}
            <li role="separator" class="divider"></li>
            <li><a class="reverse_order" href="/plannings/{{planning_id}}/{{route_id}}/reverse_order"><i class="fa fa-arrow-right-arrow-left fa-rotate-90 fa-fw"></i> {{#i18n}}plannings.edit.reverse_order{{/i18n}}</a></li>
            <li>
              <a href="#" data-toggle="modal" data-target="#planning-move-stops-modal" data-route-id="{{route_id}}"><i class="fa fa-truck-ramp-box fa-fw"></i> {{#i18n}}plannings.edit.move_stops{{/i18n}}</a>
            </li>
          </ul>
        </div>
        <div class="btn-group route-btn-group pull-right">
          <button type="button" class="toggle btn btn-default btn-xs" title="{{#i18n}}plannings.edit.toggle_help{{/i18n}}"><i class="fa fa-eye{{#hidden}}-slash{{/hidden}}"></i></button>
          <button type="button" class="lock btn {{^locked}}btn-default{{/locked}}{{#locked}}btn-warning{{/locked}} btn-xs" title="{{#i18n}}plannings.edit.locked_help{{/i18n}}"><i class="fa fa-{{^locked}}un{{/locked}}lock"></i></button>
          {{#manage_export}}
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.export_help{{/i18n}}"><i class="fa fa-share-nodes"></i><span class="caret"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
              {{^callback_button}}
                {{#customer_enable_external_callback}}
                  {{#customer_external_callback_url}}
                    <li class="link customer_external_callback_url" data-url="{{customer_external_callback_url}}">
                      <i class="fa fa-desktop fa-fw"></i>
                      {{#customer_external_callback_name}}
                        {{customer_external_callback_name}}
                      {{/customer_external_callback_name}}
                      {{^customer_external_callback_name}}
                        {{#i18n}}plannings.edit.customer_external_callback_url.action{{/i18n}}
                      {{/customer_external_callback_name}}
                    </li>
                    <li role="separator" class="divider"></li>
                  {{/customer_external_callback_url}}
                {{/customer_enable_external_callback}}
              {{/callback_button}}
              {{#tomtom}}
                <div class="dropdown-spacing">
                  {{#i18n}}plannings.edit.dialog.tomtom.title{{/i18n}} :
                  {{#devices.tomtom_id}} {{devices.tomtom_id.text}} {{/devices.tomtom_id}}
                </div>
                <li class="link device-operation" data-service="tomtom" data-operation="send" data-type="orders" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.tomtom_send_orders.action{{/i18n}}
                </li>
                <li class="link device-operation" title="{{#i18n}}plannings.edit.tomtom_send_waypoints.title{{/i18n}}" data-service="tomtom" data-operation="send" data-type="waypoints" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.tomtom_send_waypoints.action{{/i18n}}
                </li>
                <li class="link device-operation" data-service="tomtom" data-operation="clear" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.tomtom_clear.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/tomtom}}
              {{#teksat}}
                <div class="dropdown-spacing">
                    {{#i18n}}plannings.edit.dialog.teksat.title{{/i18n}} :
                    {{#devices.teksat_id}} {{devices.teksat_id.text}} {{/devices.teksat_id}}
                </div>
                <li class="link device-operation" data-service="teksat" data-operation="send" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.teksat_send.action{{/i18n}}
                </li>
                <li class="link device-operation" data-service="teksat" data-operation="clear" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.teksat_clear.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/teksat}}
              {{#orange}}
                <div class="dropdown-spacing">
                  {{#i18n}}plannings.edit.dialog.orange.title{{/i18n}} :
                  {{#devices.orange_id}} {{devices.orange_id.text}} {{/devices.orange_id}}
                </div>
                <li class="link device-operation" data-service="orange" data-operation="send" data-route-id="{{route_id}}">
                  <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                  {{#i18n}}plannings.edit.orange_send.action{{/i18n}}
                </li>
                <li class="link device-operation" data-service="orange" data-operation="clear" data-route-id="{{route_id}}">
                  <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                  {{#i18n}}plannings.edit.orange_clear.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/orange}}
              {{#masternaut}}
                <div class="dropdown-spacing">
                  {{#i18n}}plannings.edit.dialog.orange.title{{/i18n}} :
                  {{#devices.masternaut_ref}} {{devices.masternaut_ref.text}} {{/devices.masternaut_ref}}
                </div>
                <li class="link device-operation" data-service="masternaut" data-operation="send" data-route-id="{{route_id}}">
                  <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                  {{#i18n}}plannings.edit.masternaut_send.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/masternaut}}
              {{#alyacom}}
                <li class="link device-operation" data-service="alyacom" data-operation="send" data-route-id="{{route_id}}">
                  <i class="fa fa-mobile fa-fw"></i>
                  {{#i18n}}plannings.edit.alyacom_send.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/alyacom}}
              {{#trimble}}
                <div class="dropdown-spacing">
                  {{#i18n}}plannings.edit.dialog.orange.title{{/i18n}} :
                  {{#devices.trimble_ref}} {{devices.trimble_ref.text}} {{/devices.trimble_ref}}
                </div>
                <li class="link device-operation" data-service="trimble" data-operation="send" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.trimble_send.action{{/i18n}}
                </li>
                <li class="link device-operation" data-service="trimble" data-operation="clear" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.trimble_clear.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/trimble}}
              {{#notico}}
                <div class="dropdown-spacing">
                  {{#i18n}}plannings.edit.dialog.orange.title{{/i18n}} :
                  {{#devices.agent_id}} {{devices.agent_id.text}} {{/devices.agent_id}}
                </div>
                <li class="link device-operation" data-service="notico" data-operation="send" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.notico_send.action{{/i18n}}
                </li>
                <li class="link device-operation" data-service="notico" data-operation="clear" data-route-id="{{route_id}}">
                  <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                  {{#i18n}}plannings.edit.notico_clear.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/notico}}
              {{#deliver}}
                <div class="dropdown-spacing">
                  {{#i18n}}plannings.edit.dialog.deliver.title{{/i18n}}
                </div>
                <li><a href="/routes/{{route_id}}/mobile?token={{driver_token}}" ><i class="fa fa-link fa-fw"></i> {{#i18n}}plannings.edit.deliver_send.access{{/i18n}}</a></li>
                <li class="link device-operation" data-service="deliver" data-operation="send" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.deliver_send.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/deliver}}
              {{#praxedo}}
                <div class="dropdown-spacing">
                  {{#i18n}}plannings.edit.dialog.praxedo.title{{/i18n}} :
                  {{#devices.praxedo_agent_id}} {{devices.praxedo_agent_id.text}} {{/devices.praxedo_agent_id}}
                </div>
                <li class="link device-operation" data-service="praxedo" data-operation="send" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.praxedo_send.action{{/i18n}}
                </li>
                <li class="link device-operation" data-service="praxedo" data-operation="clear" data-route-id="{{route_id}}">
                    <i class="fa fa-mobile fa-rotate-90 fa-fw"></i>
                    {{#i18n}}plannings.edit.praxedo_clear.action{{/i18n}}
                </li>
                <li role="separator" class="divider"></li>
              {{/praxedo}}
              <li><a href="/api-web/0.1/plannings/{{planning_id}}/routes/{{route_id}}/print"><i class="fa fa-print fa-fw"></i> {{#i18n}}plannings.edit.export.print{{/i18n}}</a></li>
              <li role="separator" class="divider"></li>
              <li><a class="export_spreadsheet"><i class="fa fa-table fa-fw"></i> {{#i18n}}plannings.edit.export.spreadsheet{{/i18n}}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{{calendar_url_api_key}}"><i class="fa fa-calendar fa-fw"></i> {{#i18n}}plannings.edit.export.icalendar.action{{/i18n}}</a></li>
              {{#contact_email}}
                <li class="icalendar_email" data-email="true"><a href="{{calendar_url}}"><i class="fa fa-envelope fa-fw"></i> {{#i18n}}plannings.edit.export.icalendar.action_email{{/i18n}}</a></li>
              {{/contact_email}}
              {{#customer_enable_sms}}
                <li role="separator" class="divider"></li>
                <li>
                  <a class="send_sms" href="/api/0.1/plannings/{{planning_id}}/routes/{{route_id}}/send_sms"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.send_sms{{/i18n}}</a>
                </li>
              {{/customer_enable_sms}}
            </ul>
          {{/manage_export}}

          {{^manage_export}}
            {{#manage_print}}
              <a href="/api-web/0.1/plannings/{{planning_id}}/routes/{{route_id}}/print" class="btn btn-default btn-xs" title="{{#i18n}}plannings.edit.export.print{{/i18n}}"><i class="fa fa-print fa-fw"></i></a>
            {{/manage_print}}
          {{/manage_export}}
        </div>
      </div>

      <div class="row route-data" data-route_id="{{route_id}}">
          <div class="col-xs-4"><div class="{{#route_out_of_drive_time}}danger {{/route_out_of_drive_time}}{{#route_out_of_work_time}}danger {{/route_out_of_work_time}}primary route-info" title="{{#i18n}}plannings.edit.route_duration_help{{/i18n}}"><i class="fa fa-stopwatch fa-fw"></i>{{duration}}&nbsp;/&nbsp;{{work_or_window_time}}</div></div>
          <div class="col-xs-4"><div class="{{#route_out_of_max_distance}}danger {{/route_out_of_max_distance}}primary route-info" title="{{#i18n}}plannings.edit.route_distance_help{{/i18n}}"><i class="fa fa-road fa-fw"></i>{{distance}}</div></div>
          {{#route_averages}}
            <div class="col-xs-4"><div class="primary route-info" title="{{#i18n}}plannings.edit.route_speed_average_help{{/i18n}}"><i class="fa fa-tachometer fa-fw" aria-hidden="true"></i>{{route_averages.speed}} {{prefered_unit}}/h</div></div>
          {{/route_averages}}
          <div class="col-xs-4" title="{{#i18n}}plannings.edit.emission_help{{/i18n}}"><div class="primary route-info"><i class="fa fa-flask fa-fw"></i>{{emission}}&nbsp;{{#i18n}}all.unit.kgco2e_html{{/i18n}}</div></div>
          {{#quantities}}
            <div class="col-xs-4 route-data-advanced"><div class="{{#out_of_capacity}}danger{{/out_of_capacity}} primary route-info" title="{{#i18n}}plannings.edit.route_quantity_help{{/i18n}}"><i class="fa {{unit_icon}} fa-fw"></i>{{quantity_formatted}}</div></div>
          {{/quantities}}
        </div>
      {{#route_error}}
        <ul class="ui-state-error">
          {{#route_no_geolocalization}}
            <li title="{{#i18n}}plannings.edit.error.no_geolocalization_help{{/i18n}}"><i class="fa fa-map-marker fa-fw"></i> {{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}</li>
          {{/route_no_geolocalization}}
          {{#route_out_of_window}}
            <li title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_window{{/i18n}}</li>
          {{/route_out_of_window}}
          {{^route_unmanageable_capacity}}
            {{#route_out_of_capacity}}
              <li title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"><i class="fa fa-dumpster fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_capacity{{/i18n}}</li>
            {{/route_out_of_capacity}}
          {{/route_unmanageable_capacity}}
          {{#route_unmanageable_capacity}}
            <li title="{{#i18n}}plannings.edit.error.unmanageable_capacity_help{{/i18n}}"><i class="fa fa-times fa-fw"></i>{{#i18n}}plannings.edit.error.unmanageable_capacity{{/i18n}}</li>
          {{/route_unmanageable_capacity}}
          {{#route_out_of_drive_time}}
            <li title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"><i class="fa fa-power-off fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_drive_time{{/i18n}}</li>
          {{/route_out_of_drive_time}}
          {{#route_out_of_force_position}}
            <li title="{{#i18n}}plannings.edit.error.out_of_force_position{{/i18n}}"><i class="fa fa-angle-right fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_force_position{{/i18n}}</li>
          {{/route_out_of_force_position}}
          {{#route_out_of_work_time}}
            <li title="{{#i18n}}plannings.edit.error.out_of_work_time{{/i18n}}"><i class="fa fa-repeat fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_work_time{{/i18n}}</li>
          {{/route_out_of_work_time}}
          {{#route_out_of_max_distance}}
            <li title="{{#i18n}}plannings.edit.error.out_of_max_distance{{/i18n}}"><i class="fa fa-ruler fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_max_distance{{/i18n}}</li>
          {{/route_out_of_max_distance}}
          {{#route_out_of_max_ride_distance}}
            <li title="{{#i18n}}plannings.edit.error.out_of_max_ride_distance{{/i18n}}"><i class="fa fa-compass-drafting fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_max_ride_distance{{/i18n}}</li>
          {{/route_out_of_max_ride_distance}}
          {{#route_out_of_max_ride_duration}}
            <li title="{{#i18n}}plannings.edit.error.out_of_max_ride_duration{{/i18n}}"><i class="fa fa-stopwatch-20 fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_max_ride_duration{{/i18n}}</li>
          {{/route_out_of_max_ride_duration}}
          {{#route_out_of_relation}}
            <li title="{{#i18n}}plannings.edit.error.out_of_relation_help{{/i18n}}"><i class="fa fa-link-slash fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_relation{{/i18n}}</li>
          {{/route_out_of_relation}}
          {{#route_no_path}}
            <li title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"><i class="fa fa-road fa-fw"></i> {{#i18n}}plannings.edit.error.no_path{{/i18n}}</li>
          {{/route_no_path}}
        </ul>
      {{/route_error}}
    </div>
    {{#store_start}}
    <ul class="stops list-group" {{#hidden}}style="display: none;"{{/hidden}}>
      <li data-store_id="{{id}}" class="{{type}}{{#error}} ui-state-error{{/error}} d-fake-flex align-items-center list-group-item">
        <div class="row stop-row">
          <div class="col-xs-3 col-md-2">
            <i class="fa {{icon}}{{^icon}}fa-store{{/icon}} fa-fw" style="color: {{#color_fake}}{{color_fake}}{{/color_fake}}{{^color_fake}}{{color}}{{^color}}black{{/color}}{{/color_fake}};"></i>
          </div>

          <div class="col-xs-3 col-md-2">
            {{#time}}
              <div class="primary stop-info{{#error}} danger{{/error}}">
                {{time}}{{#time_day}}&nbsp;(+{{time_day}}){{/time_day}}{{#start_with_service}}&nbsp;-&nbsp;{{start_with_service}}{{#start_with_service_day}}&nbsp;(+{{start_with_service_day}}){{/start_with_service_day}}{{/start_with_service}}
              </div>
            {{/time}}
          </div>

          <div class="col-xs-4 col-md-6"><div class="title">
              {{^geocoded}}
                <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
              {{/geocoded}}
              {{#no_path}}
                <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path{{/i18n}}"></i>
              {{/no_path}}
              <span class="name" title="{{name}}">{{name}}</span>
            </div>
          </div>
          <div class="col-xs-2 col-md-2 d-flex justify-content-center align-items-center">
            <span class="store-status stop-status-{{status_code}}" title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}" {{^status}} style="display: none;" {{/status}}></span>

            <div class="btn-group pull-right stop-tools">
              {{#manage_store}}
              <a href="/stores/{{id}}/edit?back=true" class="marker_edit btn btn-default btn-xs" title="{{#i18n}}plannings.edit.edit_store_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
              {{/manage_store}}
              <a href="#" class="marker btn btn-default btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    {{/store_start}}
    {{^store_start}}
      {{#start_with_service}}
        <ul class="stops list-group" {{#hidden}}style="display: none;"{{/hidden}}>
          <li class="list-group-item">
            <div class="title">
              <span class="info">
                {{start_time}}{{#start_day}}&nbsp;(+{{start_day}}){{/start_day}}{{#start_with_service}}&nbsp;-&nbsp;{{start_with_service}}{{#start_with_service_day}}&nbsp;(+{{start_with_service_day}}){{/start_with_service_day}}{{/start_with_service}}
              </span>
            </div>
          </li>
        </ul>
      {{/start_with_service}}
    {{/store_start}}


    <ul class="stops sortable list-group" {{#hidden}}style="display: none;"{{/hidden}}>
    {{#stops}}
      {{#wait_time}}
        <li class="wait ui-state-disabled list-group-item">
          <i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.wait{{/i18n}} {{wait_time}}
        </li>
      {{/wait_time}}
      {{#rest}}
      <li data-stop_id="{{stop_id}}" data-stop_index="{{stop_index}}" data-store_id="{{store_id}}" class="{{type}}{{#error}} ui-state-error{{/error}} d-fake-flex align-items-center list-group-item">
        <div class="row stop-row d-flex flex-wrap align-items-center{{#status}} stop-row-{{status_code}}{{/status}}">
          <div class="col-xs-3 col-md-2 d-flex justify-content-center">
            <input type="checkbox" class="stop_active"{{#active}} checked="checked"{{/active}}{{^manage_organize}} disabled{{/manage_organize}} title="{{#i18n}}plannings.edit.active_help{{/i18n}}"/>
            <span class="number stop-label label" style="background-color: {{^active}}transparent{{/active}}{{#active}}{{color}}{{/active}};"><span class="stop-status{{#status}} stop-status-{{status_code}}{{/status}}" title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}"{{^status}} style="display: none;"{{/status}}></span>{{number}}</span>
          </div>

          <div class="col-xs-3 col-md-2">
            <div class="primary stop-info{{#error}} danger{{/error}}">
              {{#active}}
                {{time}}{{#time_day}}&nbsp;(+{{time_day}}){{/time_day}}
              {{/active}}
            </div>
         </div>

          <div class="col-xs-4 col-md-5 d-flex">
            <div class="title">
              {{#out_of_window}}
                <i class="fa fa-stopwatch fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i>
              {{/out_of_window}}
              {{#out_of_drive_time}}
                <i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i>
              {{/out_of_drive_time}}
              {{#out_of_work_time}}
                <i class="fa fa-repeat fa-fw" title="{{#i18n}}plannings.edit.error.out_of_work_time_help{{/i18n}}"></i>
              {{/out_of_work_time}}
              {{#out_of_max_distance}}
                <i class="fa fa-ruler fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_distance_help{{/i18n}}"></i>
              {{/out_of_max_distance}}
              {{#out_of_max_ride_distance}}
                <i class="fa fa-compass-drafting fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_ride_distance_help{{/i18n}}"></i>
              {{/out_of_max_ride_distance}}
              {{#out_of_max_ride_duration}}
                <i class="fa fa-stopwatch-20 fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_ride_duration_help{{/i18n}}"></i>
              {{/out_of_max_ride_duration}}
              {{#no_path}}
                <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i>
              {{/no_path}}
              {{#status}}
                <i class="fa fa-fw stop-status-icon-{{status_code}}"title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}"></i>
              {{/status}}
              <span class="name" title="{{name}}"><i class="fa fa-coffee fa-fw"></i> {{name}}</span>
            </div>
          </div>

          <div class="col-xs-2 col-md-3 hover-tools" style="display: none;">
            <div class="col-xs-0 col-md-6">
            </div>
            <div class="col-xs-12 col-md-6 d-flex align-items-center">
              <i class="fa fa-reorder fa-fw" title="{{#i18n}}plannings.edit.drag_help{{/i18n}}"></i>
              <div class="btn-group pull-right stop-tools">
                <a href="/" class="marker_edit btn btn-default btn-xs invisible"><i class="fa fa-pencil"></i></a>
                <a href="#" class="marker btn btn-default btn-xs {{^geocoded}}invisible{{/geocoded}}" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{/rest}}
      {{#destination}}{{#visits}}
      <li data-stop_id="{{stop_id}}" data-stop_index="{{stop_index}}" class="{{type}}{{#error}} ui-state-error{{/error}} d-fake-flex align-items-center list-group-item">
        <div class="row stop-row d-flex flex-wrap align-items-center{{#status}} stop-row-{{status_code}}{{/status}}">

          <div class="col-xs-3 col-md-2 d-flex justify-content-center">
            <input type="checkbox" class="stop_active"{{#active}} checked="checked"{{/active}}{{^geocoded}} disabled{{/geocoded}}{{^manage_organize}} disabled{{/manage_organize}} title="{{#i18n}}plannings.edit.active_help{{/i18n}}"/>
            <span class="number stop-label label {{#color_force}} color_force{{/color_force}}" style="background-color:{{^active}}transparent{{/active}}{{#active}}{{color}}{{/active}};">{{number}}&nbsp;</span>
          </div>

          <div class="col-xs-3 col-md-2 d-flex-column">
            <div class="{{#active}}primary{{/active}}{{^active}}info{{/active}} stop-info{{#error}} danger{{/error}}">
              {{#active}}
                {{time}}{{#time_day}}&nbsp;(+{{time_day}}){{/time_day}}
              {{/active}}
            </div>
          </div>

          <div class="col-xs-4 col-md-4 d-flex">
            <div class="title">
              {{^geocoded}}
                <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
              {{/geocoded}}
              {{#out_of_window}}
                <i class="fa fa-stopwatch fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i>
              {{/out_of_window}}
              {{^unmanageable_capacity}}{{#out_of_capacity}}
                <i class="fa fa-dumpster fa-fw" title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"></i>
              {{/out_of_capacity}}{{/unmanageable_capacity}}
              {{#out_of_drive_time}}
                <i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i>
              {{/out_of_drive_time}}
              {{#out_of_force_position}}
                <i class="fa fa-angle-right fa-fw" title="{{#i18n}}plannings.edit.error.out_of_force_position_help{{/i18n}}"></i>
              {{/out_of_force_position}}
              {{#out_of_relation}}
                <i class="fa fa-link-slash fa-fw" title="{{#i18n}}plannings.edit.error.out_of_relation_help{{/i18n}}"></i>
              {{/out_of_relation}}
              {{#out_of_max_distance}}
                <i class="fa fa-ruler fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_distance_help{{/i18n}}"></i>
              {{/out_of_max_distance}}
              {{#out_of_max_ride_distance}}
                <i class="fa fa-compass-drafting fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_ride_distance_help{{/i18n}}"></i>
              {{/out_of_max_ride_distance}}
              {{#out_of_max_ride_duration}}
                <i class="fa fa-stopwatch-20 fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_ride_duration_help{{/i18n}}"></i>
              {{/out_of_max_ride_duration}}
              {{#unmanageable_capacity}}
                <i class="fa fa-times fa-fw" title="{{#i18n}}plannings.edit.error.unmanageable_capacity_help{{/i18n}}"></i>
              {{/unmanageable_capacity}}
              {{#no_path}}
                <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i>
              {{/no_path}}
              {{#status}}
                <i class="fa fa-fw stop-status-icon-{{status_code}}"title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}"></i>
              {{/status}}
              <span class="name" title="{{name}}{{#index_visit}} #{{index_visit}}{{/index_visit}}{{#status}} - {{status}}{{/status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}">{{name}}</span>{{#index_visit}} #{{index_visit}}{{/index_visit}}
            </div>
          </div>
          <div class="col-xs-2 col-md-4 hover-tools" style="display: none;">
            <div class="col-xs-0 col-md-6">
            </div>
            <div class="col-xs-12 col-md-6 d-flex align-items-center">
              <i class="fa fa-reorder fa-fw" title="{{#i18n}}plannings.edit.drag_help{{/i18n}}"></i>
              <div class="btn-group stop-tools">
                {{#manage_destination}}
                <a href="/destinations/{{destination_id}}/edit?back=true#collapseVisit{{visit_id}}" class="marker_edit btn btn-default btn-xs" title="{{#i18n}}plannings.edit.edit_visit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
                {{/manage_destination}}
                {{#geocoded}}
                  <a href="#" class="marker btn btn-default btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
                {{/geocoded}}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4 not-hover">
            <div class="col-xs-6 col-md-0 d-flex" >
            </div>
            <div class="col-xs-6 col-md-12 d-flex" >
              {{#time_window_start_end_1}}
                <div class="timewindow-info" title="{{time_windows_condensed}}">
                    <i class="fa fa-sort fa-rotate-90 fa-fw"></i>
                    {{time_windows_condensed}}
                </div>
              {{/time_window_start_end_1}}
            </div>
          </div>
        </div>
      </li>
      {{/visits}}{{/destination}}
    {{/stops}}
    {{^with_stops}}{{#size}}
      <div class="d-flex justify-content-center load-stops">
        <button class="btn btn-default" title="{{#i18n}}plannings.edit.without_stops_title{{/i18n}}"><i class="fa fa-rectangle-list fa-fw"></i> {{#i18n}}plannings.edit.load_stops{{/i18n}}</button>
      </div>
    {{/size}}{{/with_stops}}
    </ul>
    {{#store_stop}}
    <ul class="stops list-group" {{#hidden}}style="display: none;"{{/hidden}}>
      <li data-store_id="{{id}}" class="{{type}}{{#error}} ui-state-error{{/error}} d-fake-flex align-items-center list-group-item">
        <div class="row">
          <div class="col-xs-3 col-md-2">
            <i class="fa {{icon}}{{^icon}}fa-store{{/icon}} fa-fw" style="color: {{#color_fake}}{{color_fake}}{{/color_fake}}{{^color_fake}}{{color}}{{^color}}black{{/color}}{{/color_fake}};"></i>
          </div>

          <div class="col-xs-3 col-md-2">
            {{#time}}
              <div class="primary stop-info{{#error}} danger{{/error}}">
                {{time}}{{#time_day}}&nbsp;(+{{time_day}}){{/time_day}}{{#start_with_service}}&nbsp;-&nbsp;{{start_with_service}}{{#start_with_service_day}}&nbsp;(+{{start_with_service_day}}){{/start_with_service_day}}{{/start_with_service}}
              </div>
            {{/time}}
          </div>

          <div class="col-xs-4 col-md-6"><div class="title">
              {{^geocoded}}
                <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
              {{/geocoded}}
              {{#no_path}}
                <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path{{/i18n}}"></i>
              {{/no_path}}
              <span class="name" title="{{name}}">{{name}}</span>
            </div>
          </div>
          <div class="col-xs-2 col-md-2 d-flex justify-content-center align-items-center">
            <span class="store-status stop-status-{{status_code}}" title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}" {{^status}} style="display: none;" {{/status}}></span>

            <div class="btn-group pull-right stop-tools">
              {{#manage_store}}
              <a href="/stores/{{id}}/edit?back=true" class="marker_edit btn btn-default btn-xs" title="{{#i18n}}plannings.edit.edit_store_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
              {{/manage_store}}
              <a href="#" class="marker btn btn-default btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    {{/store_stop}}
    {{^store_stop}}
      {{#end_without_service}}
        <ul class="stops list-group" {{#hidden}}style="display: none;"{{/hidden}}>
          <li class="list-group-item">
            <div class="title">
              <span class="info">
                {{end_without_service}}{{#end_without_service_day}}&nbsp;(+{{end_without_service_day}}){{/end_without_service_day}}&nbsp;-&nbsp;{{end_time}}{{#end_day}}&nbsp;(+{{end_day}}){{/end_day}}
              </span>
            </div>
          </li>
        </ul>
      {{/end_without_service}}
    {{/store_stop}}
  {{/vehicle}}
</div>
