<div class="stop-popup"{{#route_id}} data-route-id="{{route_id}}" data-stop-id="{{stop_id}}"{{/route_id}}>
  {{#popover}}
    <a class="close-popover pull-right">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  {{/popover}}
{{#route_id}}
<div{{#planning_id}}{{^store}}{{^vehicle_name}} class="ui-state-error"{{/vehicle_name}}{{/store}}{{/planning_id}}>
  {{#planning_id}}
  {{^store}}
  {{#manage_organize}}
  <span class="dropdown route-select">
  <span class="dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.send_to_route_help{{/i18n}}">
  {{/manage_organize}}
  {{/store}}
  {{/planning_id}}
  {{#vehicle_name}}{{vehicle_name}}{{/vehicle_name}}
  {{^vehicle_name}}{{#i18n}}plannings.edit.out_of_route{{/i18n}}{{/vehicle_name}}
  {{#planning_id}}
  {{^store}}
  {{^rest}}
  {{#manage_organize}}
  <span class="caret"></span>
  </span>
  <ul class="dropdown-menu" role="menu">
    {{#vehicle_name}}
      <li><a href="/plannings/{{planning_id}}/{{out_of_route_id}}/{{stop_id}}/move/-1.json" class="send_to_route">{{#i18n}}plannings.edit.out_of_route{{/i18n}}</a></li>
    {{/vehicle_name}}
    {{#routes}}
      {{#vehicle_usage_id}}
        <li><a href="/plannings/{{planning_id}}/{{route_id}}/{{stop_id}}/move.json" class="send_to_route"><div class="color_small" style="background:{{color}}"></div> {{name}}</a></li>
      {{/vehicle_usage_id}}
    {{/routes}}
  </ul>
  </span>
  <div class="btn-group pull-right stop-tools">
    {{#automatic_insert}}
    <button class="automatic_insert btn btn-default btn-xs" title="{{#i18n}}plannings.edit.automatic_insert_help{{/i18n}}"><i class="fa fa-bolt"></i></button>
    {{/automatic_insert}}
  </div>
  {{/manage_organize}}
  {{/rest}}
  {{/store}}
  {{/planning_id}}
</div>
<hr>
{{/route_id}}
<div class="stop-popup-header">
  {{^rest}}
    <div class="btn-group pull-right stop-tools">
      {{#store}}{{#manage_store}}
      <a href="/stores/{{id}}/edit?back=true" class="marker_edit btn btn-default btn-xs" title="{{#i18n}}plannings.edit.edit_visit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
      {{/manage_store}}{{/store}}
      {{#destination}}{{#manage_destination}}
      <a href="/destinations/{{destination_id}}/edit?back=true#collapseVisit{{visit_id}}" class="marker_edit btn btn-default btn-xs" title="{{#i18n}}plannings.edit.edit_visit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
      {{/manage_destination}}{{/destination}}
      {{#isoline}}
        <button type="button" class="btn btn-xs btn-default dropdown-toggle draw_zone" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-magic"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          {{#isochrone}}
          <li><a data-toggle="modal" data-target="#isochrone-modal" data-keyboard="true" href="#"><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}zonings.form.dialog.isochrone.title{{/i18n}}</a></li>
          {{/isochrone}}
          {{#isodistance}}
          <li><a data-toggle="modal" data-target="#isodistance-modal" data-keyboard="true" href="#"><i class="fa fa-road fa-fw"></i> {{#i18n}}zonings.form.dialog.isodistance.title{{/i18n}}</a></li>
          {{/isodistance}}
        </ul>
      {{/isoline}}
    </div>
  {{/rest}}
  {{^store}}{{#color}}<span class="number label label-default" style="background-color: {{color}};">{{#number}}{{number}}{{/number}}{{^number}}-{{/number}}</span>{{/color}}{{/store}}
  {{^popover}}{{#manage_organize}}{{#vehicle_name}}{{^store}}<input type="checkbox" class="stop_active"{{#active}} checked="checked"{{/active}} title="{{#i18n}}plannings.edit.active_help{{/i18n}}"/>{{/store}}{{/vehicle_name}}{{/manage_organize}}{{/popover}}
  <b>{{#ref}}{{^visits}}{{ref}} {{/visits}}{{/ref}}{{name}}</b><br/>
  {{#street}}{{street}}<br/>{{/street}}
  {{#detail}}
    {{detail}}<br/>
  {{/detail}}
  {{postalcode}} {{city}} {{country}}
  {{#phone_number}}
    <br/><i class="fa fa-phone fa-fw"></i><a class="phone_number" target="{{numberTarget}}" href={{numberHref}}>{{phone_number}}</a>
  {{/phone_number}}
  {{#comment}}
    <p class="wrapped-text">{{comment}}</p>
  {{/comment}}
</div>
{{^store}}
<div class="visits">
{{#visits}}
<hr>
{{#index_visit}}
{{#i18n}}plannings.edit.popup.visit{{/i18n}} #{{index_visit}}
{{/index_visit}}
{{#ref}}<b>{{ref}}</b>{{/ref}}
<ul>
  {{#time_window_start_end_1}}
    <li><i class="fa fa-sort fa-rotate-90 fa-fw"></i> {{#i18n}}plannings.edit.popup.time_window_start_end_1{{/i18n}}
      {{time_window_start_1}}{{#time_window_start_1_day}}&nbsp;(+{{time_window_start_1_day}}){{/time_window_start_1_day}} {{^time_window_end_1}}({{#i18n}}plannings.edit.popup.time_window_start_1{{/i18n}}){{/time_window_end_1}}
      {{#time_window_start_1}}{{#time_window_end_1}}-{{/time_window_end_1}}{{/time_window_start_1}}
      {{time_window_end_1}}{{#time_window_end_1_day}}&nbsp;(+{{time_window_end_1_day}}){{/time_window_end_1_day}} {{^time_window_start_1}}({{#i18n}}plannings.edit.popup.time_window_end_1{{/i18n}}){{/time_window_start_1}}
    </li>
  {{/time_window_start_end_1}}
  {{#time_window_start_end_2}}
    <li><i class="fa fa-sort fa-rotate-90 fa-fw"></i> {{#i18n}}plannings.edit.popup.time_window_start_end_2{{/i18n}}
      {{time_window_start_2}}{{#time_window_start_2_day}}&nbsp;(+{{time_window_start_2_day}}){{/time_window_start_2_day}} {{^time_window_end_2}}({{#i18n}}plannings.edit.popup.time_window_start_2{{/i18n}}){{/time_window_end_2}}
      {{#time_window_start_2}}{{#time_window_end_2}}-{{/time_window_end_2}}{{/time_window_start_2}}
      {{time_window_end_2}}{{#time_window_end_2_day}}&nbsp;(+{{time_window_end_2_day}}){{/time_window_end_2_day}} {{^time_window_start_2}}({{#i18n}}plannings.edit.popup.time_window_end_2{{/i18n}}){{/time_window_start_2}}
    </li>
  {{/time_window_start_end_2}}
  {{#status}}
    <li class="toggle-status"{{^status}} style="display: none;"{{/status}}><i class="fa fa-check fa-fw"></i> {{#i18n}}plannings.edit.popup.status{{/i18n}} <span class="stop-status{{#status}} stop-status-{{status_code}}{{/status}}" title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}"></span><span class="status">{{status}}</span></li>
    <li class="toggle-status-eta"{{^eta_formated}} style="display: none;"{{/eta_formated}}><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.popup.eta{{/i18n}} <span class="eta">{{eta_formated}}</span></li>
    <li class="toggle-status-update-at"{{^status_updated_at}} style="display: none;"{{/status_updated_at}}><i class="fa fa-circle-check fa-fw"></i> {{#i18n}}plannings.edit.popup.status_updated_at{{/i18n}} <span class="status_updated_at">{{status_updated_at}}</span></li>
  {{/status}}
  {{#time}}<li><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.popup.time{{/i18n}} {{time}}{{#time_day}}&nbsp;(+{{time_day}}){{/time_day}}</li>{{/time}}
  {{#wait_time}}<li><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.wait{{/i18n}} {{wait_time}}</li>{{/wait_time}}
  {{#duration}}<li><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.popup.duration{{/i18n}} {{duration}}</li>{{/duration}}
  {{#destination_duration}}<li><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.popup.destination_duration{{/i18n}} {{destination_duration}}</li>{{/destination_duration}}
  {{#priority_text}}<li><i class="fa fa-signal fa-fw"></i> {{#i18n}}plannings.edit.popup.priority{{/i18n}} {{priority_text}}</li>{{/priority_text}}
  {{#revenue}}<li><i class="fa fa-hand-holding-dollar fa-fw"></i> {{#i18n}}plannings.edit.popup.revenue{{/i18n}} {{revenue}} {{prefered_currency}}</li>{{/revenue}}
  {{#loads}}
    <li><i class="fa {{unit_icon}} fa-fw"></i> {{#i18n}}plannings.edit.popup.quantity{{/i18n}} {{quantity_formatted}}</li>
  {{/loads}}
  {{#orders}}<li><i class="fa fa-cube fa-fw"></i> {{#i18n}}plannings.edit.popup.orders{{/i18n}} {{orders}}</li>{{/orders}}
  {{#tags_present}}<li><i class="fa fa-tag fa-fw"></i> {{#i18n}}plannings.edit.popup.tags{{/i18n}} {{#tags}}{{label}} {{/tags}}</li>{{/tags_present}}
  {{#custom_attributes}}
    {{{html}}}
  {{/custom_attributes}}
</ul>
{{#error}}
  <ul class="ui-state-error">
    {{#out_of_window}}
      <li><i class="fa fa-stopwatch fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_window{{/i18n}}</li>
    {{/out_of_window}}
    {{#out_of_capacity}}
      <li><i class="fa fa-dumpster fa-fw" title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_capacity{{/i18n}}</li>
    {{/out_of_capacity}}
    {{#out_of_drive_time}}
      <li><i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_drive_time{{/i18n}}</li>
    {{/out_of_drive_time}}
    {{#out_of_force_position}}
      <li><i class="fa fa-angle-right fa-fw" title="{{#i18n}}plannings.edit.error.out_of_force_position_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_force_position{{/i18n}}</li>
    {{/out_of_force_position}}
    {{#out_of_work_time}}
      <li><i class="fa fa-repeat fa-fw" title="{{#i18n}}plannings.edit.error.out_of_work_time_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_work_time{{/i18n}}</li>
    {{/out_of_work_time}}
    {{#out_of_max_distance}}
      <li><i class="fa fa-ruler fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_distance_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_max_distance{{/i18n}}</li>
    {{/out_of_max_distance}}
    {{#out_of_max_ride_distance}}
      <li><i class="fa fa-compass-drafting fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_ride_distance_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_max_ride_distance{{/i18n}}</li>
    {{/out_of_max_ride_distance}}
    {{#out_of_max_ride_duration}}
      <li><i class="fa fa-stopwatch-20 fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_ride_duration_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_max_ride_duration{{/i18n}}</li>
    {{/out_of_max_ride_duration}}
    {{#out_of_max_reload}}
      <li><i class="fa fa-arrows-rotate fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_reload_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_max_reload{{/i18n}}</li>
    {{/out_of_max_reload}}
    {{#out_of_relation}}
      <li><i class="fa fa-link-slash fa-fw" title="{{#i18n}}plannings.edit.error.out_of_relation_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_relation{{/i18n}}</li>
    {{/out_of_relation}}
    {{#no_path}}
      <li><i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.no_path{{/i18n}}</li>
    {{/no_path}}
    {{#out_of_skill}}
      <li><i class="fa fa-tags fa-fw" title="{{#i18n}}plannings.edit.error.out_of_skill_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_skill{{/i18n}}</li>
    {{/out_of_skill}}
  </ul>
{{/error}}
{{/visits}}
{{#store_reload}}
<hr>
{{#index_visit}}
{{#i18n}}plannings.edit.popup.store_reload{{/i18n}}
{{/index_visit}}
{{#ref}}<b>{{ref}}</b>{{/ref}}
<ul>
  {{#time_window_start_end_1}}
    <li><i class="fa fa-sort fa-rotate-90 fa-fw"></i> {{#i18n}}plannings.edit.popup.time_window_start_end_1{{/i18n}}
      {{time_window_start_1}}{{#time_window_start_1_day}}&nbsp;(+{{time_window_start_1_day}}){{/time_window_start_1_day}} {{^time_window_end_1}}({{#i18n}}plannings.edit.popup.time_window_start_1{{/i18n}}){{/time_window_end_1}}
      {{#time_window_start_1}}{{#time_window_end_1}}-{{/time_window_end_1}}{{/time_window_start_1}}
      {{time_window_end_1}}{{#time_window_end_1_day}}&nbsp;(+{{time_window_end_1_day}}){{/time_window_end_1_day}} {{^time_window_start_1}}({{#i18n}}plannings.edit.popup.time_window_end_1{{/i18n}}){{/time_window_start_1}}
    </li>
  {{/time_window_start_end_1}}
  {{#time_window_start_end_2}}
    <li><i class="fa fa-sort fa-rotate-90 fa-fw"></i> {{#i18n}}plannings.edit.popup.time_window_start_end_2{{/i18n}}
      {{time_window_start_2}}{{#time_window_start_2_day}}&nbsp;(+{{time_window_start_2_day}}){{/time_window_start_2_day}} {{^time_window_end_2}}({{#i18n}}plannings.edit.popup.time_window_start_2{{/i18n}}){{/time_window_end_2}}
      {{#time_window_start_2}}{{#time_window_end_2}}-{{/time_window_end_2}}{{/time_window_start_2}}
      {{time_window_end_2}}{{#time_window_end_2_day}}&nbsp;(+{{time_window_end_2_day}}){{/time_window_end_2_day}} {{^time_window_start_2}}({{#i18n}}plannings.edit.popup.time_window_end_2{{/i18n}}){{/time_window_start_2}}
    </li>
  {{/time_window_start_end_2}}
  {{#status}}
    <li class="toggle-status"{{^status}} style="display: none;"{{/status}}><i class="fa fa-check fa-fw"></i> {{#i18n}}plannings.edit.popup.status{{/i18n}} <span class="stop-status{{#status}} stop-status-{{status_code}}{{/status}}" title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}"></span><span class="status">{{status}}</span></li>
    <li class="toggle-status-eta"{{^eta_formated}} style="display: none;"{{/eta_formated}}><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.popup.eta{{/i18n}} <span class="eta">{{eta_formated}}</span></li>
    <li class="toggle-status-update-at"{{^status_updated_at}} style="display: none;"{{/status_updated_at}}><i class="fa fa-circle-check fa-fw"></i> {{#i18n}}plannings.edit.popup.status_updated_at{{/i18n}} <span class="status_updated_at">{{status_updated_at}}</span></li>
  {{/status}}
  {{#time}}<li><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.popup.time{{/i18n}} {{time}}{{#time_day}}&nbsp;(+{{time_day}}){{/time_day}}</li>{{/time}}
  {{#wait_time}}<li><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.wait{{/i18n}} {{wait_time}}</li>{{/wait_time}}
  {{#duration}}<li><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.popup.duration{{/i18n}} {{duration}}</li>{{/duration}}
    {{#loads}}
    <li><i class="fa {{unit_icon}} fa-fw"></i> {{#i18n}}plannings.edit.popup.quantity{{/i18n}} {{quantity_formatted}}</li>
  {{/loads}}
</ul>
{{#error}}
  <ul class="ui-state-error">
    {{#out_of_window}}
      <li><i class="fa fa-stopwatch fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_window{{/i18n}}</li>
    {{/out_of_window}}
    {{#out_of_capacity}}
      <li><i class="fa fa-dumpster fa-fw" title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_capacity{{/i18n}}</li>
    {{/out_of_capacity}}
    {{#out_of_drive_time}}
      <li><i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_drive_time{{/i18n}}</li>
    {{/out_of_drive_time}}
    {{#out_of_force_position}}
      <li><i class="fa fa-angle-right fa-fw" title="{{#i18n}}plannings.edit.error.out_of_force_position_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_force_position{{/i18n}}</li>
    {{/out_of_force_position}}
    {{#out_of_work_time}}
      <li><i class="fa fa-repeat fa-fw" title="{{#i18n}}plannings.edit.error.out_of_work_time_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_work_time{{/i18n}}</li>
    {{/out_of_work_time}}
    {{#out_of_max_distance}}
      <li><i class="fa fa-ruler fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_distance_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_max_distance{{/i18n}}</li>
    {{/out_of_max_distance}}
    {{#out_of_max_ride_distance}}
      <li><i class="fa fa-compass-drafting fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_ride_distance_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_max_ride_distance{{/i18n}}</li>
    {{/out_of_max_ride_distance}}
    {{#out_of_max_ride_duration}}
      <li><i class="fa fa-stopwatch-20 fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_ride_duration_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_max_ride_duration{{/i18n}}</li>
    {{/out_of_max_ride_duration}}
    {{#out_of_max_reload}}
      <li><i class="fa fa-arrows-rotate fa-fw" title="{{#i18n}}plannings.edit.error.out_of_max_reload_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_max_reload{{/i18n}}</li>
    {{/out_of_max_reload}}
    {{#out_of_relation}}
      <li><i class="fa fa-link-slash fa-fw" title="{{#i18n}}plannings.edit.error.out_of_relation_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_relation{{/i18n}}</li>
    {{/out_of_relation}}
    {{#no_path}}
      <li><i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.no_path{{/i18n}}</li>
    {{/no_path}}
    {{#out_of_skill}}
      <li><i class="fa fa-tags fa-fw" title="{{#i18n}}plannings.edit.error.out_of_skill_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_skill{{/i18n}}</li>
    {{/out_of_skill}}
  </ul>
{{/error}}
{{/store_reload}}
{{^visits}}
<ul>
  {{#tags_present}}<li><i class="fa fa-tag fa-fw"></i> {{#i18n}}plannings.edit.popup.tags{{/i18n}} {{#tags}}{{label}} {{/tags}}</li>{{/tags_present}}
</ul>
{{/visits}}
</div>
{{/store}}
{{#store}}
<div class="store">
<hr>
{{#i18n}}plannings.edit.popup.store{{/i18n}}
<ul>
  {{#time}}<li><i class="fa fa-stopwatch fa-fw"></i> {{#i18n}}plannings.edit.popup.time{{/i18n}} {{time}}{{#time_day}}&nbsp;(+{{time_day}}){{/time_day}}</li>{{/time}}
  {{#loads}}
    <li><i class="fa {{unit_icon}} fa-fw"></i> {{#i18n}}plannings.edit.popup.loadings{{/i18n}} {{quantity_formatted}}</li>
  {{/loads}}
  </ul>
{{#error}}
  <ul class="ui-state-error">
    {{#no_path}}
      <li><i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.no_path{{/i18n}}</li>
    {{/no_path}}
  </ul>
{{/error}}
</div>
{{/store}}
</div>
