// Colors
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
$text-black: #333;
$focus-font-color: #FFF;
$focus-menu-border: #08bfab;
$primary-color: #42ca64;
$white-background: #ffffff;

// Sizes
$planbar-height: 0px;
$menu-width: 70px;

$lightgrey-color: #F4FAFB;
$grey-color: #bdc3c4;
$primary-color: #01387b;
$secondary-color: #477FA2;
$third-color: #B0DEDF;
$warning-color: #fca182;
$danger-color: #E7414D;

// Timings
$transition-duration: .5s;
$transition-timing-curve: 0s;
$transition-timing-curve-delayed: .5s;
