// Colors
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
$text-black: #333;
$focus-font-color: #FFF;
$primary-color: #42ca64;
$white-background: #ffffff;

// Sizes!
$planbar-height: 70px;

$lightgrey-color: #F4FAFB;
$grey-color: #bdc3c4;
$primary-color: #017679;
$secondary-color: #88C7BC;
$warning-color: #FFE4DB;
$danger-color: #E3997E;