@import "variables";

[data-controller='stops'][data-action='edit'],
[data-controller='routes'][data-action='mobile'] {

  .mobile_header {
    width: 100%;
    position: absolute;
    height: $mobile-header-height;
    z-index: 1;
    padding-left: 5px;
    border-bottom: 1px solid $grey-color;
    background-color: $primary-color;
    color: $white;

    .company-logo {
      height: calc(#{$mobile-header-height} - 8px);
    }

    .form-check-input {
      &:checked {
        border-color: $white;
      }
    }

    .form-switch .form-check-input:not(:checked):not(:focus) {
      background-color: $white;
    }
  }

  .mobile {
    font-size: 16px !important;
    position: absolute;
    top: $mobile-header-height;
    width: 100%
  }

  .label {
    min-width: 32px;
  }

  .label-planned, .label-intransit {
    background-color: $primary-color;
  }

  .label-started, .label-exception {
    background-color: var(--warning);
  }

  .label-finished, .label-delivered {
    background-color: var(--success);
  }

  .label-rejected, .label-undelivered {
    background-color: var(--danger);
  }

  .label- {
    background-color: var(--gray);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .active {
    box-shadow: 2px 3px 2px rgba(0,0,0,.4);
    border: 4px solid #ffffff96;
    border-radius: 2px !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .panel-body .panel-heading {
    background-color: $gray-200;
  }

  .panel-heading-intransit {
    border-left: 12px solid $primary-color;
  }

  .panel-heading-exception {
    border-left: 12px solid var(--warning);
  }

  .panel-heading-delivered {
    border-left: 12px solid var(--success);
  }

  .panel-heading-undelivered {
    border-left: 12px solid var(--danger);
  }

  .panel-heading- {
    border-left: 12px solid transparent;
  }

  .btn {
    border-radius: 16px;
  }

  #radiobtn {
    .btn {
      min-width: 30vw;
      margin-top: 6px;
      margin-bottom: 6px;

    }
    .btn.active {
      min-width: 40vw !important;
      margin-top: 2px !important;
      margin-bottom: 2px !important;
    }
  }
}

