@import "variables";

[data-controller='stops'][data-action='edit'],
[data-controller='routes'][data-action='mobile'] {

  .mobile_header {
    width: 100%;
    position: absolute;
    height: $mobile-header-height;
    z-index: 1;
    padding-left: 5px;
    border-bottom: 1px solid $grey-color;
  }

  .mobile {
    position: absolute;
    top: $mobile-header-height;
    width: 100%
  }

  .label-planned {
    background-color: $primary-color;
  }

  .label-started {
    background-color: var(--warning);
  }

  .label-finished {
    background-color: var(--success);
  }

  .label-rejected {
    background-color: var(--danger);
  }

  .label- {
    background-color: var(--gray);
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .active {
    box-shadow: 2px 3px 2px rgba(0,0,0,.4);
  }
}

